body {
    background: #0e90d8;
    color: #ffffff;
}

.navbar {
    background: #ffffff;
    border: 0px;
}

#searchbar {
    border-radius: 0px;
    border-color: lightgrey;
    width: 150%;
}

.dropdown {
    background: #ffffff;
    opacity: .9;
    color: rgb(11, 80, 127);
    border-radius: 0%;
}

.collapse-menu-item {
    text-align: center;
    padding: 5px;
}

.home-row-item {
    margin: 2px;
    background: rgb(105, 105, 105);
    position: relative;
}

.home-row-item:hover .btn-track, .home-row-item:hover .btn-update, .home-row-item:hover .btn-updates, .home-row-item:hover .product-company, .home-row-item:hover .product-name {
    visibility: visible;
}

.home-row-item:hover .product-image {
    opacity: 0.5 !important;
}

.home-row-container {
    position: relative;
}

.home-row-container:hover .btn-navigation{
    visibility: visible;
}

.btn-navigation {
    background: rgba(11, 80, 127, 0.6);
    position: absolute;
    bottom: 0px;
    top: 0px;
    z-index: 1;
    visibility: hidden;
}

.btn-update {
    color: white;
    position: absolute !important;
    z-index: 1;
    top: 2% !important;
    left: 2% !important;
    bottom: 75% !important;
    border-radius: 25px !important;
    background: #3dcc4a;
    visibility: hidden;
}

.btn-track {
    color: white;
    position: absolute !important;
    z-index: 1;
    top: 2% !important;
    right: 2% !important;
    bottom: 75% !important;
    border-radius: 50% !important;
    background: #0e90d8;
    visibility: hidden;
}

.btn-updates {
    color: white;
    position: absolute !important;
    z-index: 1;
    bottom: 2% !important;
    right: 2% !important;
    top: 75% !important;
    border-radius: 50% !important;
    background: #F44336;
    visibility: hidden;
}

.product-name {
    color: white;
    position: absolute !important;
    z-index: 1;
    bottom: 10%;
    height: auto;
    width: 70%;
    border: 2px;
    text-align: left;
    overflow: hidden;
    visibility: hidden;
}

.product-company {
    color: white;
    position: absolute !important;
    z-index: 1;
    bottom: 0%;
    height: auto;
    width: 70%;
    border: 2px;
    text-align: left;
    overflow: hidden;
    visibility: hidden;
}

.product-image {
    height: auto;
    width: auto;
}

.next {
    right: 0px;
}

.prev {
    left: 0px;
}

.date-text-color {
    color: #000000;
    border-radius: 5px;
}

.show-error-modal-text-color, .show-success-modal-text-color, .show-network-error-modal-text-color{
    color: #000000;
}